.home-button:hover {
  color: #1bfdbe !important;
  border-bottom: 2px solid #1bfdbe;
  padding-bottom: 3px !important;
}

.navbar-icon:hover {
  color: #1bfdbe !important;
}

.home-button,
.navbar-icon {
  font-size: 1.2em !important;
}

.logo-title{
  color:#1BFDBE
}