.button,
.button:hover {
	border: 0;
	background-color: transparent;
	margin: 0;
	padding: 0;
	height: auto;
	width: auto;
	align-self: start;
	color: rgb(255, 255, 255)!important;
	cursor: pointer;
}

.button:hover {
	transition: 0.3s ease-in;
	color: rgb(255, 255, 255) !important;
	cursor: pointer;
}

.activated,
.activated:hover {
	border-bottom: 2px solid rgb(27, 253, 190);
	color: rgb(255, 255, 255) !important;
	transition: 0s;
	
}

