.button-search-home:hover {
  color: #000 !important;
}

.button-div:active {
  background-color: #1bfdbe !important;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    background-color: #1bfdbe !important;
}