.link-menu:hover{
    color: #1bfdbe !important;
  }
  
  
  
  .active{
    width: 112%;
    height: auto;
    border-right: 5px solid #1bfdbe;
    box-shadow: 2px 8px 10px 5px  rgba(0,0,0, 0.1);
    color: #1bfdbe !important;
  }

  .teste-te{
    margin-top: 30px !important;
  }