.podcast-image {
  border-radius: 10;
}

@media (min-width: 426px) {
  .podcast-image {
    max-width: 350px;
  }
}

@media (min-width: 320px) and (max-width: 426px) {
  .podcast-image {
    max-width: 300px;
  }

  .categorias-wrapper {
    display: block !important;
  }
}

@media (max-width: 320px) {
  .podcast-image {
    max-width: 250px;
  }

  .info-podcast,
  .categorias-wrapper {
    display: block !important;
  }

  select {
    width: 60% !important;
  }
}
