button,
button:hover {
	border: 0;
	background-color: transparent;
	margin: 0;
	padding: 0;
	height: auto;
	width: auto;
	margin-right: 20px;
	align-self: start;
	color: rgb(165, 245, 171);
	cursor: pointer;
}

button:hover {
	color: rgb(146, 145, 145) !important;
	transition: 0.3s ease-in;
}

@media (max-width: 772px) {
	.subitem {
		width: 40% !important;
	}

	.edit {
		right: -50px !important;
	}
}
